{
    "presets": [
        ["@babel/preset-env",
            {
                "targets":{
                    "node" : "current"
                }
            }

        ],
        "@bable/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
    
}